/* Reusables -------------------------------------------------------- */
/* Font sizes */
.center, #temp-control, #content, #datetime, #temp-location, #weather-other, .weather-other-el {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle, #temp-control {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

/* Style ------------------------------------------------------------ */
/* Uppercase all text. */
div {
  text-transform: uppercase;
}

html, body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  font-size: 12px;
  letter-spacing: 2.4px;
  font-family: 'Quicksand', sans-serif;
}
@media (min-width: 768px) {
  html, body {
    font-size: 16px;
    letter-spacing: 3.2px;
  }
}

#control-panel {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0 0 2rem;
}

#content, #datetime {
  flex-direction: column;
  align-self: center;
}

#weather-icon {
  font-size: 7rem;
  margin: 0 0 2rem 0;
}

#temp-unit {
  font-size: 1.5rem;
}

#temp-location {
  flex-direction: row;
}

#weather-other {
  width: 15rem;
  justify-content: space-around;
  flex-direction: row;
}

.weather-other-el {
  flex-direction: row;
}
.weather-other-el h6 {
  margin-bottom: 0;
}

#temp-max-icon, #temp-min-icon, #humidity-icon {
  margin-right: 0.4rem;
}

#datetime {
  margin: 3rem 0 0 0;
}
