/* Reusables ---------------------------------------------------------------- */

/* Font sizes */
$mobile-fontsize: 10px;
$tablet-fontsize: 14px;
$spacing: 0.2;
$mobile-spacing: $mobile-fontsize * $spacing;
$tablet-spacing: $tablet-fontsize * $spacing;
$font-stack: 'Quicksand', sans-serif;

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

.grow {
  transition: all .05s ease-in-out;
}
.grow:hover {
  transform: scale(1.2);
}
.grow:active {
  transform: scale(1.4);
}


/* Document ----------------------------------------------------------------- */

/* Uppercase all text. */
div {
  text-transform: uppercase;
}

html, body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-size: $mobile-fontsize;
  letter-spacing: $mobile-spacing;
  @media (min-width: 768px) {
    font-size: $tablet-fontsize;
    letter-spacing: $tablet-spacing;
  }
  font-family: $font-stack;
  /* Disable scrollbar */
  height: 100%;
  margin: 0;
  overflow: hidden;
  cursor: default;
}


/* Temp Control ------------------------------------------------------------- */

#control-panel {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0 0 2rem;
}

#temp-control {
  @extend .circle;
  @extend .center;
  font-weight: 700;
  cursor: pointer;
}


/* Weather info ------------------------------------------------------------- */

#content, #datetime {
  * {
    text-align: center;   
  }
  @extend .center;
  flex-direction: column;
  align-self: center;
}

#weather-icon {
  font-size: 7rem;
  margin: 0 0 1.5rem 0;
}

#temp-location {
  @extend .center;
  flex-direction: row;
}

#weather-other {
  width: 15rem;
  @extend .center;
  justify-content: space-around;
  flex-direction: row;
}

.weather-other-el {
  @extend .center;
  flex-direction: row;
  h6 {
    margin-bottom: 0;
  }
}

#temp-max-icon, #temp-min-icon, #humidity-icon {
  margin-right: 0.4rem;
}

#datetime {
  margin: 1.5rem 0 1.5rem 0;
}

/* Location search box ------------------------------------------------------ */

#location-search-wrapper {
  @extend .center;
  flex-direction: row;
}

#location-search {
  display: none;
  margin: 0 0 0 0.5rem;
  border-radius: 100rem;
  border: none;
  width: 15rem;
  text-transform: uppercase;
  font-family: $font-stack;
  font-weight: 700;
  letter-spacing: $mobile-spacing / 2;
  @media (min-width: 768px) {
    letter-spacing: $tablet-spacing / 2;
  }
}

#location-search:focus {
  outline: 0;
}

#search-icon {
  display: none;
}


/* Location searchbox dropdown (Google searchbox) --------------------------- */

.pac-container {
  font-family: $font-stack;
  letter-spacing: $mobile-spacing / 2;
  @media (min-width: 768px) {
    letter-spacing: $tablet-spacing / 2;
  }

  .pac-item {
    border: none;
    color: inherit;

    .pac-item-query, .pac-matched {
      color: inherit;
    }   
    .pac-icon.pac-icon-marker {
      background-color: 'purple';
    }
  }

  .pac-item:hover, .pac-item-selected {
    background-color: transparent;
  }
}

/* Error msg ---------------------------------------------------------------- */
#error-msg {
 margin: 1.5rem 0 0 0;
}

